<div
  [style.background-image]="'url(assets/images/bg9.jpg)'"
  class="flex flex-col items-center justify-center p-[4.5rem] w-full bg-cover bg-center h-[400px]"
>
  <p class="text-5xl text-white">Cuba-Eats</p>
  <p class="text-lg text-blue-500">
    Discover the best food & recipes with Cuba-Eats
  </p>
  <div class="flex flex-wrap items-center">
    <div>
      <!-- test -->
      <mat-form-field class="example-full-width">
        <mat-label>Select Location</mat-label>
        <input
          type="text"
          placeholder="Pick one"
          aria-label="City"
          matInput
          [formControl]="cityControl"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          @for (option of filteredOptions|async ; track option) {
          <mat-option [value]="option">{{ option }}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
      <!-- test -->

      <!-- <mat-form-field class="border-t border-solid border-blue-800">
        <mat-label>location</mat-label>
        <mat-select>
          @for (city of appService.citiesList; track $index) {
          <mat-option [value]="city.name"
            >{{ city.name }}-{{ city.state }}</mat-option
          >
          }
        </mat-select>
      </mat-form-field> -->
    </div>
    <div>
      <mat-form-field class="border-t border-solid border-blue-800">
        <mat-label>Search for best recipes</mat-label>
        <input [(ngModel)]="searchKeyword" matInput (input)="handleSearchInput()" (blur)="handleSearchBlur()" />
      </mat-form-field>
      <button
        style="margin-top: -22px; height: 57px; border-radius: 0 !important"
        mat-flat-button
        color="primary"
      >
        Search <mat-icon>search</mat-icon>
      </button>
    </div>
  </div>
</div>
