<div
  class="flex flex-col items-center justify-center p-[4.5rem] bg-[url('https://img.freepik.com/free-photo/grilled-chicken-breast-served-black-slate_1220-2989.jpg?w=2000&t=st=1712096263~exp=1712096863~hmac=4ab5f28d00f45c824956dcc9a8a46736f1b4b30045f9a0e5844f8f5ca1a1ba68')] w-full bg-cover bg-center h-[400px]"
>
  <p class="text-5xl text-white">Cubastion-Eats</p>
  <p class="text-lg text-blue-500">
    Discover the best food & recipes with Cubastion-Eats
  </p>
  <div class="flex flex-wrap items-center">
    <div>
      <mat-form-field class="border-t border-solid border-blue-800">
        <mat-label>location</mat-label>
        <mat-select>
          @for (city of appService.citiesList; track $index) {
          <mat-option [value]="city.name"
            >{{ city.name }}-{{ city.state }}</mat-option
          >
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="border-t border-solid border-blue-800">
        <mat-label>Search for best recipes</mat-label>
        <input matInput />
      </mat-form-field>
      <button
        style="margin-top: -22px; height: 57px; border-radius: 0 !important"
        mat-flat-button
        color="primary"
      >
        Search <mat-icon>search</mat-icon>
      </button>
    </div>
  </div>
</div>
