<!-- <p>recipe-details works!</p>
{{data.id}} -->
<h2 mat-dialog-title>{{recipeDetails.title}}</h2>
<mat-dialog-content class="mat-typography">
  <h3>Description</h3>
  <p>{{recipeDetails.description}}</p>

  <h3>category &amp; {{recipeDetails.category}}</h3>
  <div><img width="400" height="400" [src]="recipeDetails.imageUrl" alt=""></div>
<p>servings:{{recipeDetails.servings}}</p>

<div>
<p>ingredients</p>
<ul>
  @for (el of recipeDetails.ingredients; track $index) {
  <li>{{el.name}}{{el.quantity}}{{el.notes}}</li>
}
</ul>
</div>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Close</button>
</mat-dialog-actions>
